

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$btn-bg-color: #A5C926;
$gray-color:#666666;
$logo-color:#002603;
$button-color:#00B207;
$header-bottom-color:#333333;
$navbar-link:#999999;
$text-color:#1A1A1A;
$card-border:#E6E6E6;