@use "../../base/mixins" as *;
@use "../../base/variables" as *;

// Add to Cart
.add-to-cart__button {
  font-family: Poppins;
  letter-spacing: 0%;
  width: 100%;
  @include flexLayout(flex, center, center, 12px, row nowrap);
  @include headingFonts(#ffffff, 14px, 600, 120%, none);
  @include Button($button-color, 1px solid $button-color, 50px, 14px 32px);

  &:hover{
    background-color: #038f08;
  }

  &-img {
    width: 15px;
    height: 15px;
    // margin-left: 12px;
  }
}

// LIKE button
.like-button {
  width: 46px;
  height: 46px;
  padding: 13px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f2f2f2;
  transition: background-color 150ms ease;
  @include flexLayout(flex, center, center, 0, row nowrap);
  &__icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: red;
  }
}
// EYE button
.eye-button {
  width: 46px;
  height: 46px;
  padding: 13px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f2f2f2;
  transition: background-color 150ms ease;
  @include flexLayout(flex, center, center, 0, row nowrap);
  &__icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: $button-color;
  }
}
